streamlit==1.37.0
earthengine-api==0.1.401
geemap==0.30.4
folium==0.14.0
xyzservices==2023.7.0
python-box==6.0.2
geopandas==0.14.4
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
pillow==10.3.0
requests==2.32.3
